{% extends "blog/base.html" %}
{% block content %}

        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-post' object.author.username %}">{{ object.author }}</a>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                    <br>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            </a>
          </div>
        </article>

<div id="disqus_thread"></div>
<script>


var disqus_config = function () {
this.page.url = '{{ self.request.url }}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ self.request.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
this.page.title = '{{ object.title }}'
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://t3trabl0g-herokuapp-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock content %}
